@model IEnumerable<Theater.DAL.Views.PlayView>

@{
    ViewBag.Title = "Index";
}

<h2>List of all plays</h2>

<p>
    @Html.ActionLink("Add new play", "AddNewPlay")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImagePath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScheduledTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Actors)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(ModelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(ModelItem => item.ImagePath)
        </td>
        <td>
            @Html.DisplayFor(ModelItem => item.Description)
        </td>
        <td>
            @*@Html.DisplayFor(ModelItem => item.ScheduledTime)*@
            @Convert.ToString(string.Format("{0:g}", item.ScheduledTime))
        </td>
        <td>
            @Html.DisplayFor(ModelItem => item.Actors)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
