@model PagedList.IPagedList<Theater.DAL.Views.PlayView>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>List of all plays</h2>

<p>
    @Html.ActionLink("Add new play", "AddNewPlay")
</p>
@if (Model != null && Model.Count() > 0)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => Model.First().Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => Model.First().ImagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => Model.First().Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => Model.First().ScheduledTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => Model.First().Actors)
            </th>
            <th></th>
        </tr>

        @for (int i = 0; i < Model.Count(); i++)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => m[i].Title)
                </td>
                <td>
                    <img src="@Html.DisplayFor(m => m[i].ImageVirtualPath)" alt="Display image..." style="width:200px; height: 200px">
                </td>
                <td>
                    @Html.DisplayFor(m => m[i].Description)
                </td>
                <td>
                    @Convert.ToString(string.Format("{0:g}", Model[i].ScheduledTime))
                </td>
                <td>
                    @Html.DisplayFor(m => m[i].Actors)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = Model[i].Id }) |
                    @Html.ActionLink("Details", "Details", new { id = Model[i].Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = Model[i].Id })
                </td>
            </tr>
        }
    </table>
    <br/>
    @Html.PagedListPager(Model, page => Url.Action("Index", new {page}))
}
